$bg-btn-blue: #357A9B;
$bg-btn-light: #EAF5F6;
$bg-input: #E9EBEC;
$bg-circle-item: #009FF9;
$bg-btn-slide: #DEEFF1;
$bg-main: #F9FAFA;
$bg-blue-light: #EAF5F6;
$bg-green-light: #EAF5F6;
$bg-red-light: #FEEBED;
$bg-orange-light: #FFF5F0;

$bg-gradient: linear-gradient(261.11deg, #ECAAD3 0%, #DF687B 90.84%);
$box-shadow-card: 0px 10px 40px rgba(0, 0, 0, 0.125);

$color-border-input: rgba(53, 122, 155, 1);
$color-title-sub: #357A9B;
$color-text: #27292B;
$color-pink: #df687d;
$color-des: #61686B;
$color-border: #D4D7D8;
$color-green: #3CCF97;
$color-orange: #FF7F2D;
$color-blue: #5F97F0;
$color-red: #FB4B56;



