.homeMember{
    &__card{
        background-color: #fff;
        border-radius: 16px;

        &-header{
            box-shadow: 0px 4px 16px rgba(30, 130, 187, 0.5);
            background: radial-gradient(218.51% 281.09% at 100% 100%, rgba(242, 92, 92, 0.6) 0%, rgba(0, 176, 200, 0.6) 41.15%, rgba(0, 80, 200, 0.6) 79.69%);
            border-radius: 16px;
            backdrop-filter: blur(10.9254px);

            &.basic{
                background: radial-gradient(175.97% 223.07% at 100% 100%, rgba(92, 242, 215, 0.6) 0%, rgba(242, 92, 92, 0.6) 41.15%, rgba(247, 228, 53, 0.6) 79.69%)
            }
            &.premium{
                background: radial-gradient(114.82% 298.23% at 50% -20.1%, rgba(212, 92, 242, 0.6) 0%, rgba(0, 176, 200, 0.6) 41.15%, rgba(242, 92, 92, 0.6) 79.69%)
            }

            &-btn{
                background-color: #fff;
                border-radius: 48px;
                outline: none;
                border: none;
                color: $bg-btn-blue;
            }
        }
        &-body{
            &-list{

            }
            &-item{
                position: relative;
                display: flex;
                color: $bg-btn-blue;
                font-size: 0.97rem;
                font-weight: 400;

                &::before{
                    content: "\2022";
                    color: $bg-btn-blue;
                    font-weight: bold;
                    display: inline-block; 
                    min-width: 0.9em;
                }
            }

        }
        &-footer{

            &-btn{
                padding: 0.65rem 1rem !important;
                font-size: 1rem !important;
            }
            &-text{
                color: #61686B;
                font-size: 0.75rem;
            }
        }
    }
}