.dashboard {
    &__mistake {
        border: none;
        border-radius: 4px;
        background-color: transparent;

        box-shadow: none;
        @include responsive(lg-screen) {
            border: none;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgb(0, 0, 0, 0.08);
        }
        &-btn {
            &-view {
                background-color: $bg-red-light;
                border-radius: 52px;
                color: $color-pink;
                font-size: 0.9rem;
            }
        }
        &-tabs {
            border: 1px solid #dadee0;
            border-radius: 0.375rem 0.375rem 4px 4px;
            .tab-content {
                padding: 0.5rem !important;
            }

            .tabs {
                .tab-content {
                    padding: 0.5rem;
                }
            }

            .nav.nav-tabs {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                background-color: $bg-red-light;
                .nav-item {
                    .nav-link {
                        color: #000;
                        font-weight: 400;
                        font-size: 0.9rem;

                        @include responsive(lg-screen){
                            font-size: 1rem;
                        }
                    }
                    .nav-link.active {
                        position: relative;
                        color: white;
                        font-weight: 700;
                        background-color: $color-pink !important;
                    }
                    flex: 1;
                    button {
                        width: 100%;
                        background-color: transparent !important;
                        border-color: transparent;
                    }
                }
                .tab-content {
                    padding: 0.5rem;
                }
            }
        }

        &-question {
            display: flex;
            align-items: center;
            &-number {
                @include flex-center();
                width: 4rem;
                height: 2rem;
                border-radius: 50%;
                background-color: $bg-red-light;
                color: $color-red;

                @include responsive(md-screen){
                    width: 2rem;
                }

                @include responsive(lg-screen){
                    width: 2rem;
                }
            }
            &-text {
            }
        }
    }
}
